# nix
.direnv/
.clangd

# clion
.idea/

# cmake
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# binaries
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.log

# os
*~
*.swp
.DS_Store
Thumbs.db
